[Unit]
Description=wireguard
After=network.target

[Service]
Type=simple
WorkingDirectory= # path
ExecStart=python3 # path/tg.py
Restart=on-failure
[Install]
WantedBy=default.target